body {
    display: center;
    background-color: #f2f9f9;
}
.centrar {

    display: center;
}

.insta {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    padding-top: 10px;
    margin-top: 1px;
}

input {
    width: 240px;
    height: 29px;
    /*   padding: auto; */
    margin: 5px;
    display: flex;
    margin-left: 52px;
    background-color: #ebf5f4;
    border: 1px solid #7dfaf6;
    color: gray;
}

button {
    width: 250px;
    height: 29px;
    margin-top: 15px;
    background-color: #2891ed;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.container {
    width: 350px;
    height: 520px;
    border: 1px solid gray;
    border-radius: 3px;
    display: block;
    /*   padding-top: 20px; */
    margin: auto;
    text-align: center;
    background-color: white;
}

.signup {
    width: 350px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    display: block;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 10px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 20px;
    height: 20px;
}

div {
    padding-top: 30px;
}

.fb {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
}

a {
    text-decoration-line: none;
}
