@page "/municipalidad"


<div style="background-color:darkgray;width:100%">
	<div class="container">
		<MudGrid>			
			<MudItem xs="6">
				<MudPaper Class="d-flex">
					<MudImage Fluid="true" Src="https://munillanquihue.cl/old/wp-content/uploads/2020/06/Victor_Angulo01--768x991.jpg"></MudImage>
				</MudPaper>
			</MudItem>
			<MudItem xs="6" lg="6" Class="text-white">

				<MudText Typo="Typo.h6">Estimados Vecinos y Visitantes de la Comuna de Llanquihue:</MudText>
				<br />

					<MudText Typo="Typo.h6"> 
					Como Alcalde y habitante de esta maravillosa comuna, junto al Concejo Municipal y a los funcionarios municipales, nos sentimos orgullosos de poder ofrecer al turista los diferentes atractivos de esta hermosa comuna, la comuna del lago.

					</MudText>
					<br />
				<MudText Typo="Typo.h6">La Historia dice que el 19 de junio de 1968 el Gobierno promulga la ley que crea la Comuna de Llanquihue. El Congreso Nacional aprueba el proyecto de ley, que en su primer artículo señala: Créase la Comuna de Llanquihue en el departamento de Puerto Varas, Provincia de Llanquihue, la cabeza será el pueblo de Llanquihue. Desde entonces, Llanquihue se fue posicionando en la región como una comuna agro-industrial, sin embargo, con el correr de los años nos hemos planteado insertar a nuestra comuna en su vocación histórica: pertenecer al circuito de la cuenca del lago, nuestros esfuerzos están dirigidos a eso, y así de esta manera aprovechar el entorno natural y aprovechar todo nuestro potencial turístico.</MudText>
				
<br />
 
					<MudText Typo="Typo.h6">Amigos, este es nuestro sitio web, invitamos a visitarnos y a hacer llegar vuestras consultas y sugerencias, del mismo modo invitamos a los turistas a planificar sus vacaciones en este hermoso  paraje de este sur maravilloso y a disfrutar, en forma responsable, de nuestra naturaleza y de la calidez de nuestra gente.</MudText>

			</MudItem>
			<MudItem xs="6">
				<MudPaper Class="d-flex">
					<MudPaper Class="d-flex"></MudPaper>
				</MudPaper>
			</MudItem>
			<MudItem xs="6">
				
					<MudText Typo="Typo.h4">Victor Angulo Muñoz</MudText>			
				
			
				<MudText Typo="Typo.caption">ALCALDE DE LLANQUIHUE</MudText>
				
			</MudItem>
		</MudGrid>
		<br />
		<br />
		<MudDivider></MudDivider>
		<br />

		<center>
			<MudText Typo="Typo.h3">
				Concejales
			</MudText>

		</center>


		<MudGrid>
			<MudItem xs="6" sm="4" md="3" lg="3" Class="mt-4">
				<MudGrid Spacing="1">
					<MudPaper Class="product-item align-center" Elevation="3" Style="cursor:pointer;">
						<MudItem Class="mb-1" Style="display:flex;">
							<MudImage Src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-683x1024.png" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
						</MudItem>
						<MudItem xs="12" Class="mx-2">
							<MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
								<MudText Align="Align.Center" Typo="Typo.h6">Cristián</MudText>
							</MudPaper>
						</MudItem>
						<MudItem xs="12" Class="ma-2">
							<MudText Align="Align.Center" Typo="Typo.h6">Olavaria Navarro</MudText>
						</MudItem>
					</MudPaper>
				</MudGrid>
			</MudItem>
			<MudItem xs="6" sm="4" md="3" lg="3" Class="mt-4">
				<MudGrid Spacing="1">
					<MudPaper Class="product-item" Elevation="3" Style="cursor:pointer;">
						<MudItem Class="mb-1">
							<MudImage Src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-683x1024.png" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
						</MudItem>
						<MudItem xs="12" Class="mx-2">
							<MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
								<MudText Align="Align.Center" Typo="Typo.h6">Luis Orostica</MudText>
							</MudPaper>
						</MudItem>
						<MudItem xs="12" Class="ma-2">
							<MudText Align="Align.Center" Typo="Typo.h6">Salinas</MudText>
						</MudItem>

					</MudPaper>
				</MudGrid>
			</MudItem>
			<MudItem xs="6" sm="4" md="3" lg="3" Class="mt-4">
				<MudGrid Spacing="1">
					<MudPaper Class="product-item" Elevation="3" Style="cursor:pointer;">
						<MudItem Class="mb-1">
							<MudImage Src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-683x1024.png" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
						</MudItem>
						<MudItem xs="12" Class="mx-2">
							<MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
								<MudText Typo="Typo.h6">José Sargado</MudText>
							</MudPaper>
						</MudItem>
						<MudItem xs="12" Class="ma-2">
							<MudText Align="Align.Center" Typo="Typo.h6">Vargas</MudText>
						</MudItem>

					</MudPaper>
				</MudGrid>
			</MudItem>
			<MudItem xs="6" sm="4" md="3" lg="3" Class="mt-4">
				<MudGrid Spacing="1">
					<MudPaper Class="product-item" Elevation="3" Style="cursor:pointer;">
						<MudItem Class="mb-1">
							<MudImage Src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-683x1024.png" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
						</MudItem>
						<MudItem xs="12" Class="mx-2">
							<MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
								<MudText Typo="Typo.h6">Carmen Vidal</MudText>
							</MudPaper>
						</MudItem>
						<MudItem xs="12" Class="ma-2">
							<MudText Align="Align.Center" Typo="Typo.h6">Miranda</MudText>
						</MudItem>

					</MudPaper>
				</MudGrid>
			</MudItem>
			<MudItem xs="6" sm="4" md="3" lg="3" Class="mt-4">
				<MudGrid Spacing="1">
					<MudPaper Class="product-item" Elevation="3" Style="cursor:pointer;">
						<MudItem Class="mb-1">
							<MudImage Src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-683x1024.png" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
						</MudItem>
						<MudItem xs="12" Class="mx-2">
							<MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
								<MudText Typo="Typo.h6">Eduardo Caucao</MudText>
							</MudPaper>
						</MudItem>
						<MudItem xs="12" Class="ma-2">
							<MudText Align="Align.Center" Typo="Typo.h6">Muñoz</MudText>
						</MudItem>

					</MudPaper>
				</MudGrid>
			</MudItem>
			<MudItem xs="6" sm="4" md="3" lg="3" Class="mt-4">
				<MudGrid Spacing="1">
					<MudPaper Class="product-item" Elevation="3" Style="cursor:pointer;">
						<MudItem Class="mb-1">
							<MudImage Src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-683x1024.png" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
						</MudItem>
						<MudItem xs="12" Class="mx-2">
							<MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
								<MudText Align="Align.Center" Typo="Typo.h6">Evelyn Brintrup</MudText>
							</MudPaper>
						</MudItem>
						<MudItem xs="12" Class="ma-2">
							<MudText Align="Align.Center" Typo="Typo.h6">Flores</MudText>
						</MudItem>

					</MudPaper>
				</MudGrid>
			</MudItem>
		</MudGrid>
	</div>
	<br />
</div>




@*<section class="elementor-section elementor-top-section elementor-element elementor-element-c962b45 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c962b45" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-container elementor-column-gap-default">
		<div class="row">
			<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-86186ea" data-id="86186ea" data-element_type="column">
				<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-fefcff6 elementor-widget elementor-widget-image" data-id="fefcff6" data-element_type="widget" data-widget_type="image.default">
							<div class="container">
								<div class="card-img-top px-3 px-sm-5">
									<img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-683x1024.png" data-lazy-type="image" data-src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-683x1024.png" class="attachment-large size-large lazy-loaded" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01.png 986w" data-srcset="" sizes="(max-width: 683px) 100vw, 683px"><noscript><img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-683x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/olavarria-01.png 986w" sizes="(max-width: 683px) 100vw, 683px" /></noscript>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-a6d909b elementor-widget elementor-widget-heading" data-id="a6d909b" data-element_type="widget" data-widget_type="heading.default">
							<div class="container">
								<h2 class="elementor-heading-title elementor-size-default">Cristián <br>Olavarría Navarro</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-2ba324e" data-id="2ba324e" data-element_type="column">
				<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ba746e6 elementor-widget elementor-widget-image" data-id="ba746e6" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<div class="elementor-image">
									<img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-683x1024.png" data-lazy-type="image" data-src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-683x1024.png" class="attachment-large size-large lazy-loaded" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01.png 986w" data-srcset="" sizes="(max-width: 683px) 100vw, 683px"><noscript><img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-683x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/orostica-01.png 986w" sizes="(max-width: 683px) 100vw, 683px" /></noscript>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-1042670 elementor-widget elementor-widget-heading" data-id="1042670" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">Luis Oróstica <br>Salinas</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-c4c4acd" data-id="c4c4acd" data-element_type="column">
				<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-aab00af elementor-widget elementor-widget-image" data-id="aab00af" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<div class="elementor-image">
									<img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-683x1024.png" data-lazy-type="image" data-src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-683x1024.png" class="attachment-large size-large lazy-loaded" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01.png 986w" data-srcset="" sizes="(max-width: 683px) 100vw, 683px"><noscript><img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-683x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/sargado-01.png 986w" sizes="(max-width: 683px) 100vw, 683px" /></noscript>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-8b16c7c elementor-widget elementor-widget-heading" data-id="8b16c7c" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">José Sargado <br>Vargas</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-8b6b495" data-id="8b6b495" data-element_type="column">
				<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-885f451 elementor-widget elementor-widget-image" data-id="885f451" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<div class="elementor-image">
									<img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-683x1024.png" data-lazy-type="image" data-src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-683x1024.png" class="attachment-large size-large lazy-loaded" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01.png 986w" data-srcset="" sizes="(max-width: 683px) 100vw, 683px"><noscript><img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-683x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/vidal-01.png 986w" sizes="(max-width: 683px) 100vw, 683px" /></noscript>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-95ea852 elementor-widget elementor-widget-heading" data-id="95ea852" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">Carmen Vidal Miranda</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-c34eedb" data-id="c34eedb" data-element_type="column">
				<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-f4f5c94 elementor-widget elementor-widget-image" data-id="f4f5c94" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<div class="elementor-image">
									<img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-683x1024.png" data-lazy-type="image" data-src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-683x1024.png" class="attachment-large size-large lazy-loaded" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01.png 986w" data-srcset="" sizes="(max-width: 683px) 100vw, 683px"><noscript><img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-683x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/caucao-01.png 986w" sizes="(max-width: 683px) 100vw, 683px" /></noscript>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-f53be98 elementor-widget elementor-widget-heading" data-id="f53be98" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">Eduardo Caucao Muñoz</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-fe9fc7f" data-id="fe9fc7f" data-element_type="column">
				<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-c199c79 elementor-widget elementor-widget-image" data-id="c199c79" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<div class="elementor-image">
									<img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-683x1024.png" data-lazy-type="image" data-src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-683x1024.png" class="attachment-large size-large lazy-loaded" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01.png 986w" data-srcset="" sizes="(max-width: 683px) 100vw, 683px"><noscript><img width="683" height="1024" src="https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-683x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-683x1024.png 683w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-200x300.png 200w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01-768x1151.png 768w, https://munillanquihue.cl/old/wp-content/uploads/2021/08/brintrup-01.png 986w" sizes="(max-width: 683px) 100vw, 683px" /></noscript>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-6f321aa elementor-widget elementor-widget-heading" data-id="6f321aa" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">Evelyn Brintrup <br>Flores</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
*@
@code {

}
