  <!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Ilustre Municipalidad de Llanquihue</h6>
                <p class="text-justify">
                    Calle Erardo Werner n°450
                    Llanquihue |
                    <i>
                        <a href="mailto:contacto@munillanquihue.com">
                            contacto@munillanquihue.com
                        </a>
                        </i>
                </p>
            </div>


            <div class="col-xs-6 col-md-3">
                <h6>Accesos rapidos</h6>
                <ul class="footer-links">
                    <li>
                        <NavLink class="" href="" Match="NavLinkMatch.All">
                            Inicio
                        </NavLink>
                    </li>
                    
                    <NavLink class="" href="municipalidad" Match="NavLinkMatch.All">
                        Acerca de nosotros
                    </NavLink>
                   
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year Todos los derechos reservados a la Ilustre
                    <a href="">Municipalidad de Llanquihue</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/LlanquihueTV/">
                            <img src="https://img.icons8.com/nolan/452/facebook-new.png" width="32" style="width: 32px;">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/LlanquihueTV">
                            <img src="https://img.icons8.com/nolan/452/youtube-play.png" width="32" style="width: 32px;">
                        </a>

                    </li>
                    <li>
                        <a href="https://www.instagram.com/llanquihue_municipalidad/?hl=es">
                            <img src="https://img.icons8.com/nolan/452/instagram-new.png" width="32" style="width: 32px;">
                        </a>

                    </li>
                    <li>
                        <a href="https://www.twitch.tv/llanquihuetv/videos">
                            <img src="https://img.icons8.com/nolan/452/twitch.png" width="32" style="width: 32px;">
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<!-- FOOTER START -->
@*<div class="footer fixed-bottom" style="background-color: #070617;">
    <div class="contain">       
           <div class="col-social" style="">
            <h1>Nuestras redes sociales</h1>
            <ul>
                <li>
                    <a href="https://www.facebook.com/LlanquihueTV/">
                        <img src="https://img.icons8.com/nolan/452/facebook-new.png" width="32" style="width: 32px;">
                    </a>                    
                </li>
                <li>
                    <a href="https://www.youtube.com/c/LlanquihueTV">
                        <img src="https://img.icons8.com/nolan/452/youtube-play.png" width="32" style="width: 32px;">
                    </a>
                   
                </li>
                <li>
                    <a href="https://www.instagram.com/llanquihue_municipalidad/?hl=es">
                        <img src="https://img.icons8.com/nolan/452/instagram-new.png" width="32" style="width: 32px;">
                    </a>
                   
                </li>
                <li>
                    <a href="https://www.twitch.tv/llanquihuetv/videos">
                        <img src="https://img.icons8.com/nolan/452/twitch.png" width="32" style="width: 32px;">
                    </a>
                    
                </li>
            </ul>
            <div class="" style="float:right;">
                <p>
                    Ilustre Municipalidad de Llanquihue - Erardo Werner - @DateTime.Now.Year
                </p>
            </div>

        </div>
                 
    </div>
</div>*@



<!-- END OF FOOTER -->
@code {

}
