@inject NavigationManager NavigationManager

<div class="">
<a class="">
   <img class="home-button" src="/Muni2.png">
</a>
</div>


@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
