

<center><h2>Pagos Online</h2></center>

 <div class="container">       
          

               <div class="featured-product">
                    <div>
                        <a href="http://pago.smc.cl/pagoPCVv2/muni/llanquihue.aspx">
                            <img src="/circulacion.png">
                              
                        </a>
                    </div>
                    <h4><a href="http://pago.smc.cl/pagoPCVv2/muni/llanquihue.aspx">Permiso de circulación</a></h4>
                    
               </div>

               <div class="featured-product">
                    <div>
                        <a href="http://appl.smc.cl/pagoPC/muni/llanquihue.aspx">
                            <img src="/patente.png">
                              
                        </a>
                    </div>
                    <h4><a href="http://appl.smc.cl/pagoPC/muni/llanquihue.aspx">Patentes Comerciales</a></h4>
                    
               </div>

                <div class="featured-product">
                    <div>
                        <a href="http://appl.smc.cl/pagoAseo/muni/llanquihue.aspx">
                            <img src="/aseo.png">
                              
                        </a>
                    </div>
                    <h4><a href="http://appl.smc.cl/pagoAseo/muni/llanquihue.aspx">Derechos de Aseo</a></h4>
                    
               </div>
                <div class="featured-product">
                    <div>
                        <a href="http://appl.smc.cl/pagoRMNP/muni/llanquihue.aspx">
                            <img src="/multa.png">
                              
                        </a>
                    </div>
                    <h4><a href="http://appl.smc.cl/pagoRMNP/muni/llanquihue.aspx">Pago de multas</a></h4>
                    
               </div>
                <div class="featured-product">
                    <div>
                        <a href="http://appl.smc.cl/pagoVARIOS/muni/llanquihue.aspx">
                            <img src="/varios.png">
                              
                        </a>
                    </div>
                    <h4><a href="http://appl.smc.cl/pagoVARIOS/muni/llanquihue.aspx">Servicios Varios</a></h4>
                    
               </div>

               
 </div>





@code {
    

}
