
<center>
    <br />
<h5>LLAMADO A CONCURSO PUBLICO: para proveer Cargo de Director o Directora de Unidad de Control. Dirigete a ACCESOS</h5>
<h5>RAPIDOS, y en el apartado CONCURSOS PUBLICOS obtendras mayor informacion</h5>
</center>


@code {

}
