@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row ">
            <HomeButton />      
            <UserButton />
            <Search/>
            
            <CartCounter/>
        </div>

        <div class="nav-menu">
            <ShopNavMenu />
        </div>

        <article class="" >
           
        </article>
           @Body
      <Footer/>    
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code{
   
    

}