<div class="top-row">
    <center>
<h1 style="color:aliceblue">Ley de Transparencia</h1>
    </center>
     <div class="container">       
          

               <div class="featured-product">
                    <div>
                        <a href="https://www.portaltransparencia.cl/PortalPdT/directorio-de-organismos-regulados/?org=MU142">
                            <img src="/circulacion.png">
                              
                        </a>
                    </div>
                  
                    <h4><a href="https://www.portaltransparencia.cl/PortalPdT/directorio-de-organismos-regulados/?org=MU142">Transparencia Activa</a></h4>
                    
               </div>

               <div class="featured-product">
                    <div>
                        <a href="https://www.portaltransparencia.cl/PortalPdT/web/guest/directorio-de-organismos-regulados?p_p_id=pdtorganismos_WAR_pdtorganismosportlet&orgcode=50d9a2d2b2fdcfd45b97dc11dc23be2d">
                            <img src="/patente.png">
                              
                        </a>
                    </div>
                    <div>
                 <h4><a href="https://www.portaltransparencia.cl/PortalPdT/web/guest/directorio-de-organismos-regulados?p_p_id=pdtorganismos_WAR_pdtorganismosportlet&orgcode=50d9a2d2b2fdcfd45b97dc11dc23be2d">Solicitar Información</a></h4>
                    </div>
                    
                    
               </div>

              

               
 </div>
  <br />
</div>



@code {

}
